<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Pi tracker!</title>
		<meta charset="UTF-8">
		<meta name="dextription" content="This is the inital welcome page for the Pi tracker. It is a simply login page.">
		<meta name="author" content="Kiyoshi Yamamoto">
	</head>
	<body>
		<h1>Welcome to Pi Tracker!</h1>
		<p></p>
		<p>This is the portal to your personal GPS tracker<p>
		<p>Please log into your device to begin</p>
		<a href="signIn">Sign in</a>
	</body>
</html>
