<!DOCTYPE html>
<html>
	<head>
		<title>Pi Tracker Login</title>
		<meta name="description" content="This is a simple login for the tracker">
	<script language="javascript" type="text/javascript">
	</script>
	</head>
	<body>
		<h1>Login Failed!</h1>
		<p>Incorrect username or password.</p>
		<p>Please try again.</p>
		<form method="post" action="/login">
		<p>
		<label>Username:</label>
		<input type="text" id="username" name="username" />
		</p>
		<p>
		<label>Password:</label>
		<input type="password" id="pwd" name="pwd"/>
		</p>
		<p>
		<button type="submit">Login</button>
		</p>
		</form>
		<a href="example_GPS_data.txt">GPS data sample</a>
		<br>
		<a href="example_System_data.txt">System data sample</a>
	</body>
</html>
